.container {
  max-width: 1631px;
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: "Roboto";
  background-color: #130616;
  header {
    display: flex;
    justify-content: center;
    .header-inner {
      max-width: 1720px;
      width: 95%;
      @include flex-justify(space-between);
      align-items: center;
      margin: 20px 0;
      vertical-align: middle;
      .navigation {
        ul {
          @include flex-justify(space-between);
          color: rgb(248, 242, 242);
          li {
            margin: 0 10px 0 10px;
            text-transform: capitalize;
            font-size: 22px;
            line-height: 26px;
          }
        }
      }
    }
  }
  .first-intro-sec {
    .container {
      .introduction {
        padding-top: 183px;
        padding-bottom: 380px;
        .title-first-sec {
          text-transform: capitalize;
          font-size: 42px;
          color: rgb(250, 246, 246);
          text-align: center;
        }
      }
    }
  }
  .registration-sec {
    .container {
      .reg-form-block {
        @include flex-justify(space-between);
        padding-bottom: 50px;
      }
      .left-text {
        display: flex;
        color: white;
        margin-top: 80px;
        .circle-1 {
          height: 34px;
          width: 34px;
          background-color: rgb(247, 242, 242);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: #130616;
        }
        .reg-text-content {
          margin-left: 38px;
          .reg-title {
            font-size: 42px;
            text-transform: capitalize;
            line-height: 49px;
          }
          .steps {
            font-size: 32px;
            color: #a9a9a9;
            line-height: 38px;
          }
          .reg-description {
            font-size: 36px;
            line-height: 54px;
            max-width: 627px;
            margin-top: 151px;
          }
        }
      }
    }
  }
}
